
footer {
    text-align: center;
}

table {
    align: center;
    width: 100%
}

.radiopadding{
padding: 2%;

}
.switchlocation{
  position: absolute;
  right:    0;
  bottom:   0;

.questionPane {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.answers {
    padding: 20px;
    text-align: left;
}
.pictures{

align: right;

}

}