header {
    background-color: #DFEAF3;
}

body {
    background-color: #DFEAF3;
}

footer {
    text-align: center;
}

table {
    align: center;
    width: 100%
}

.radiopadding{
padding: 2%;

}

.questionPane {
    text-align: center;
}